@import 'tailwindcss/base';
@import './prism.css';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
/* @tailwind base;
@tailwind components;
@tailwind utilities; */

@layer base {
  [inert] ::-webkit-scrollbar {
    display: none;
  }
}

.grey-color {
  border-color: grey;
  opacity: 0.3;
}

.title-font {
  font-family: 'Source Code Pro', monospace;
  text-transform: uppercase;
  opacity: 0.3;
}

* {
  font-family: 'Helvetica', sans-serif;
}
